<% include partials/header %>


	    <div >

	        <h1 style="text-align:center; margin-top:10px">Welcome To Counsilio</h1>

	        <%vacs.forEach(function(vac){%>

	        	<p><a href="/institute/<%=vac.inst.id%>/vacancy/<%=vac._id%>/show">link</a></p>

	    	<%})%>


	    </div>

<% include partials/footer %>
